/**
 * Copyright © infinite, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

footer {
    background-color: var(--color-white);

    .footer > div {
        padding: 24px 40px 48px;
        max-width: 1440px;
    }
}
